/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    

}

body {
    font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
    font-size: 20px;
}

header {
    background-image: url(../img/jumbo.png);
    background-size: 100%;
}

.container {
    width: 70%;
    margin: 0 15%;
}

.content-block:nth-of-type(2n+0) {
    background-color: #f2f2f2;
}

    
    /* Regole centralizzate buttons */
    .btn {
        border-radius: 20px;
        padding: 10px 20px;
        font-size: 16px;
        text-decoration: none;
    }
    .btn-large {
        border-radius: 35px;
        padding: 15px 30px;
        font-size: 20px;
        text-decoration: none;
    }

    .btn-white {
        background-color: white;
        color: black;
        

    }

    .btn-black {
        background-color: black;
        color: white;
    }

    .btn-azure {
        background-color: #404eed;
        color: white;
    }

/*  Header and nav */

#nav-container {
    display: flex;
    align-items: center;
    height: 80px;
}
#main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.logo {
    align-self: center;
    text-align: left;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 50%;
    
}

.menu a {
    text-decoration: none;
    color: white;
    font-weight: 400;
}

.link-nav{
    padding: 10px;
    font-size: 16px;
}

.btn-nav {
    align-self: flex-end;
    background-color: white;
    color: black;
    
}

.app-btn {
    display: flex;
}



/* Hero */

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 125px;
}

h1 {
    font-size: 56px;
    color: white;
    font-weight: bold;
    text-align: center;
}

.hero-container .text.hero-paragraph {
    color: white;
    text-align: center;
    line-height: 30px;
    margin-top: 20px;
}

.hero-cta {
    margin-top: 20px;
    margin-bottom: 100px;
    display: flex;
    justify-content: center;
    width: 100%;

}

.cta-btn {
    margin-left: 10px;
    margin-right: 10px;
}

/* - - - - MAIN - - - - */

    /* Blocchi contenuti dal primo al terzo */
    .content-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 4% 0;
    }

    .content-container {
        display: flex;
        justify-content: space-between;
        margin-top: 40px;
        height: 80%;
        width: 60%;
    }

    .img-block {
        width: 48%;
        height: 100%;
    }

    .text-block {
        width: 34%;
        height: 100%;   
    }

    .content-title {
        margin-top: 40px;
        font-size: 40px;
        line-height: 50px;
        width: 80%;
    }
    
    .content-text {
        font-size: 18px;
        line-height: 28px;
        margin-top: 20px;
        width: 100%;
    }

    /* Blocco contenuti in verticale */

    .vertical-content-block {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .vertical-content-container {
        height: 80%;
        width: 60%;
    }

    .vertical-img-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 60%;
        width: 100%;

    }

    .vertical-text-block {
        height: 40%;
        width: 100%;
        text-align: center;
    }

    .vertical-text-block h3 {
        margin-top: 40px;
        font-size: 40px;
        line-height: 50px;
    }

    /* Call to action before footer */

    .main-cta {
        width: 70%;
        margin: 0 15%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }

    .main-cta h5 {
        font-size: 32px;
        font-weight: bold;
        background-image: url(../img/stars.svg);
        background-size: 80%;
        padding: 10px;
    }

    .main-cta a {
        margin-top: 40px;
     }


/* - - - - FOOTER - - - - */

footer {
    background-color: rgb(56, 52, 52);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-content-container {
    display: flex;
    justify-content: space-between;
    height: 80%;
    width: 65%;
    margin-top: 60px;
    font-size: 18px;
}


/* First div with social media links and stuff */

.social-links {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 25%;
    color: #404eed;
}

.social-links h4 {
    font-size: 40px;
    margin-bottom: 20px;
}

.social-links-bottom {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.social-links-bottom img {
    width: 30px;
    height: 25px;
    margin-right: 10px;
}

.social-links-text {
    line-height: 25px;
    color: white;
}

.social-links-text img {
    height: 15px;
    width: 15px;
    filter: brightness(0) invert(1);
}

.social-links-logos {
    display: flex;
}

.social-links-logos img {
    width: 50px;
    height: 50px;
    padding: 10px;
    filter: brightness(0) invert(1);
    
}

/* Other rows with redirects to other pages */

.footer-content {
    height: 100%;
    width: 13%;
    display: flex;
    flex-direction: column;
}

.redirects {
    color: white;
    list-style-type: none;
    line-height: 45px;
}

.redirects > :first-child {
    color: #404eed;
}

.content-divider {
    width: 65%;
    height: 2px;
    background-color: #404eed;
    margin: 10px 0;
    
}

.footer-cta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 65%;
    height: 50px;
    margin-bottom: 50px;
}

.onde-bonus {
    filter: brightness(0) invert(95%);
    width: 100%;
    margin: 0;
    display: block;
}

.onde-bonus-reversed {
    filter: brightness(0) invert(95%);
    width: 100%;
    margin: 0;
    display: block;
    rotate: 180deg;
}
/* DEBUGGING RULES */
/*
header {
    
}

.container {
    background-color: green;
    border: 1px solid black;
}

/* Header, nav e hero */
/*
.logo {
    background-color: azure;
}

.menu {
    background-color: azure;
    border: 1px solid black;
}

.hero-container {
    background-color: red;
    border: 2px solid black;
}

/* Blocco dei contenuti debug */
/*
.content-block {
    height: 500px;
}

.content-container {
    background-color: aquamarine;
}

.img-block {
    background-color: bisque;
    border: 1px solid black;
}

.text-block {
    border: 1px solid black;
}

/* vertical content */
/*

.vertical-content-block {
    height: 900px;
}

.vertical-content-container {
    background-color: aquamarine;
}

.vertical-img-block {
    background-color: bisque;
    border: 1px solid black;
}
.vertical-text-block {
    border: 1px solid black;
}

/* FOOTER DEBUG */
/*

.footer-content-container {
    background-color: greenyellow;
    border: 3px solid white;
}
.footer-content {
    background-color: bisque;
    border: 2px solid black;
}